[core]
    ignorecase = false
[user]
	name = Sujan Shakya
	email = suzan.shakya@gmail.com
[github]
	user = suzanshakya
	token = ace09087c579aa74ec129713829a365b
[color]
	ui = true
[push]
	default = simple
