export PATH=${PATH}:"$HOME"/projects/android/android-ndk-r8e
export PATH=${PATH}:"$HOME"/projects/android/android-sdk-macosx/platform-tools
export PATH=${PATH}:"$HOME"/projects/android/android-sdk-macosx/tools
